.calendar-container{
  border-bottom: 2px solid black;
}

.week{
}

.day{
  border-left: 1px solid #333;
  border-top: 2px solid black;
  display: inline-block;
  height: 17vh;
}

.day #n34{
  border-bottom:2px solid black;
}
